* {
    top: 0;
    margin: 0;
    padding: 0;
    width: 100vw;
    text-align: center;
}

body {
    background-color: white;
}

#cover {
    z-index: 1;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 0;
}
.cover_view {
    max-height: 100vh;
    transition: 0.5s;
    margin: auto;
    position: fixed;
    top: 1rem;
}

.cover_text {
    background-color: white;
    width: 100%;
}

.web_image {
    display: block;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 80vw;
    max-height: 80vh;
    object-fit: scale-down;
    transition: opacity 0.5;
}

.invite_msg {
    display: block;
    color: black;
    background: skyblue;
    margin: auto;
    height: 10rem;
    position: relative;
}

.gallery {
    display: block;
    margin: auto;
    background-color: gainsboro;
    height: 50rem;
    position: relative;
}

.location_header {
    top: -2vw;
    width: 100%;
    height: 40vw;
    position: sticky;
    vertical-align: middle;
    z-index: -2;
    font-size: 0;
}

#location_img {
    position: absolute;
    top: -3rem;
    left:0;
    z-index: -2;
    overflow: hidden;
}

#location_img_cover {
    position: absolute;
    background-color:gray;
    top: 0;
    left:0;
    opacity: 0.5;
    z-index: -1;
    width:100%;
    height:100%;
}

#location_header {
    color: white;
    text-align: left;
    width: auto;
    margin-top: -5rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    z-index: -1;
}

#location {
    display: block;
    position: relative;
    background-color: white;
    overflow-x: hidden;
}

#location_info {
    position: relative;
}

.map_title dt {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-left: 2rem;
    width: calc(100% - 3rem)
}

.map_title dt div {
    text-align: left;
    width: fit-content;
}

.map_title dd {
    font-size: 1.1rem;
    text-align: left;
    margin-left: 2rem;
}

.call_icon {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0.5rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    vertical-align: middle;
}

.call_icon img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 2rem;
    height: 2rem;
}

.location_actions {
    display: flex;
    justify-content: flex-end;
}

.location_actions img {
    margin: 0.2rem;
}

.copy_location {
    width: 3rem;
    height: 3rem;
    /* border: 0.15rem solid #757575;
    border-radius: 20%; */
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
}

.copy_location img {
    margin: 0 auto;
    width: 2.3rem;
    height: 2.3rem;
}
