* {
    top: 0;
    margin: auto;
    padding: 0;
    width: 100vw;
    max-width: 600px;
    text-align: center;
}

body {
    background-color: white;
}

h2 {
    text-align: left;
    width: calc(100% - 1rem);
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

#cover {
    z-index: 1;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 0;
}
.cover_view {
    max-height: 100vh;
    transition: 0.5s;
    margin: auto;
    position: fixed;
    top: 1rem;
}

.cover_text {
    background-color: white;
    width: 100%;
}

.web_image {
    display: block;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: min(80vw, 480px);
    max-height: 80vh;
    object-fit: scale-down;
    transition: opacity 0.5;
}

.invite_msg {
    display: block;
    color: black;
    background: skyblue;
    margin: auto;
    height: 10rem;
    position: relative;
}

.gallery {
    display: block;
    margin: auto;
    background-color: gainsboro;
    height: 50rem;
    position: relative;
}

.location_header {
    top: -2vw;
    width: 100%;
    height: min(40vw, 280px);
    position: sticky;
    vertical-align: middle;
    z-index: -2;
    font-size: 0;
}

#location_img {
    position: absolute;
    top: -3rem;
    left:0;
    z-index: -2;
    overflow: hidden;
}

#location_img_cover {
    position: absolute;
    background-color:gray;
    top: 0;
    left:0;
    opacity: 0.5;
    z-index: -1;
    width:100%;
    height:100%;
}

#location_header {
    color: white;
    text-align: left;
    width: auto;
    margin-top: -5rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    z-index: -1;
}

#location {
    display: block;
    position: relative;
    background-color: white;
    overflow-x: hidden;
}

#location_info {
    position: relative;
}

.map_title dt {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-left: 2rem;
    width: calc(100% - 3rem)
}

.map_title dt div {
    text-align: left;
    width: fit-content;
    margin: 0;
}

.map_title dd {
    font-size: 1.1rem;
    text-align: left;
    margin-left: 2rem;
}

.call_icon {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0.5rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    vertical-align: middle;
}

.call_icon img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 2rem;
    height: 2rem;
}

.location_actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

.location_actions img {
    margin: 0.2rem;
}

.copy_location {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    margin: 0 0.5rem 0 0;
}

.copy_location img {
    margin: 0 auto;
    width: 2.3rem;
    height: 2.3rem;
}

.account {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    position: relative;
}


.account_details div {
    color: white;
    background-color: gray;
    width: 40%;
    height: 3rem;
    line-height: 3rem;
    margin-bottom: 1rem;
}

.popup_box .account_header {
    width: fit-content;
    margin-left: 1rem;
}

.account_info {
    display: flex;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: fit-content;
}

.account_info .account_name {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    justify-content: left;
    padding-left: 0.5rem;
    padding-right: 2rem;
}

.account_info .account_name span {
    margin-left: 0;
    width: fit-content;
}

.account_info .account_info_detail {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
}

.account_info .account_info_detail img {
    margin: 0 auto;
    width: 2.3rem;
    height: 2.3rem;
}

.popup_layer {
    display: none;
    position:fixed;
    top:0;
    left:0;
    z-index: 10000;
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
}

.popup_box {
    position: relative;
    align-items: center;
    width: fit-content;
    height: fit-content;
    top: 50%;
    transform: translateY(-50%);
    z-index:1002;
    box-sizing:border-box;
    background:#fff;
    box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.35);
    -webkit-box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.35);
    padding: 1rem;
}

.popup_box .popup_btn {
    color: white;
    background-color: gray;
    width: 10rem;
    height: 3rem;
    line-height: 3rem;
    margin: 0.4rem auto;
}
